<!doctype html>

<html lang="en">
<head>
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("/static/photos/stem_cells_banner_huang_and_hastie.png" );

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body>
<div class="bg">
{% block content %}{% endblock %}
</div>
	<!--<body id="container" style="background-color:#D3D7E8" >-->

	</body>
</html>


